.card {
    width: 220px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin: 10px;
    color: white;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    color: white;
    margin-bottom: 15px;
    font-size: 20px;
}

.card h1 {
    color: white;
    font-size: 40px;
}