.orders-container {
  margin-top: 30px;
}

.search-box {
  width: 300px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th,
td {
  border: 1px solid #1c1919;
  padding: 12px;
  text-align: left;
  font-weight: bold;
}
td{
     color: black;
  font-weight: bold;
}

th {
  background-color: #2563eb;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.filter-buttons {
  margin: 20px 0;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 10px 16px;
  border: none;
  background-color: #2563eb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #1d4ed8;
}